/* footer */
.overlap-4 {
  width: 100%;
  bottom: 0;
  position: relative;
}

.view-9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background-color: rgba(42, 40, 41, 1);
}

.frame-29 {
  display: inline-flex;
  align-items: flex-start;
  gap: 78px;
  position: relative;
}

.frame-30 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.view-10 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  position: relative;
}

.text-wrapper-17 {
  /* font-family: "IRANSansX-DemiBold", Helvetica; */
  font-weight: 700;
  color: rgba(245, 145, 21, 1);
  font-size: 15px;
  letter-spacing: 0;
  position: relative;
  line-height: normal;
  direction: rtl;
}

.frame-31 {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: relative;
}
.frame-31:hover {
  color: #f59115;
}

.button {
  box-sizing: border-box;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  width: 100%;
  align-items: center;
  padding: 8px;
  position: relative;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
.button .text-wrapper-18:hover {
  color: #f59115;
  transition: all 0.2s ease-in-out;
}

.text-wrapper-18 {
  width: fit-content;
  /* font-family: "IRANSansX-Regular", Helvetica; */
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  letter-spacing: 0;
  position: relative;
  line-height: normal;
  direction: rtl;
}

.button-2 {
  all: unset;
  box-sizing: border-box;
  justify-content: center;
  border: 0.5px solid;
  border-color: rgba(245, 145, 21, 1);
  display: flex;
  width: 100%;
  align-items: center;
  padding: 8px;
  position: relative;
  border-radius: 4px;
  cursor: pointer;
}

.text-wrapper-19 {
  color: rgba(255, 255, 255, 1);
  position: relative;
  direction: rtl;
}
.text-wrapper-19:hover {
  color: #f59115;
  transition: all 0.2s ease-in-out;
}

.text-wrapper-20 {
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-demibild-font-family);
  font-weight: var(--body-demibild-font-weight);
  color: rgba(237, 237, 237, 1);
  font-size: var(--body-demibild-font-size);
  letter-spacing: var(--body-demibild-letter-spacing);
  position: relative;
  line-height: var(--body-demibild-line-height);
  direction: rtl;
  font-style: var(--body-demibild-font-style);
}

.frame-32 {
  position: relative;
  width: 143px;
  height: 24px;
  float: right;
}

.frame-33 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background-image: url("../images/in");
  background-size: 100% 100%;
}
.frame-9 {
  direction: rtl;
}
.frame-34 {
  left: 39px;
  background-image: url("../images/whatsapp.svg");
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  background-size: 100% 100%;
}

.frame-35 {
  left: 79px;
  background-image: url("../images/youtube.svg");
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  background-size: 100% 100%;
}

.frame-36 {
  left: 119px;
  background-image: url("../images/telegram.svg");
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  background-size: 100% 100%;
}

.view-11 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.frame-37 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
  position: relative;
}

.text-wrapper-21 {
  width: fit-content;
  margin-top: -1px;
  /* font-family: "IRANSansX-DemiBold", Helvetica; */
  font-weight: 700;
  color: rgba(245, 145, 21, 1);
  font-size: 16px;
  text-align: justify;
  letter-spacing: 0;
  position: relative;
  line-height: normal;
  direction: rtl;
}

.frame-38 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  position: relative;
}

.frame-39 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.text-wrapper-22 {
  /* font-family: "IRANSansX-Regular", Helvetica; */
  font-weight: 400;
  color: rgba(237, 237, 237, 1);
  font-size: 14px;
  text-align: justify;
  letter-spacing: 0;
  position: relative;
  line-height: normal;
  direction: rtl;
}

.frame-40 {
  display: flex;
  width: 283px;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
  margin-left: -1px;
}

.text-wrapper-23 {
  flex: 1;
  /* font-family: "IRANSansX-Regular", Helvetica; */
  font-weight: 400;
  color: rgba(237, 237, 237, 1);
  font-size: 14px;
  letter-spacing: 0;
  position: relative;
  line-height: normal;
  direction: rtl;
}

.frame-41 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.text-wrapper-24 {
  width: 232px;
  /* font-family: "IRANSansX-Regular", Helvetica; */
  font-weight: 400;
  color: rgba(237, 237, 237, 1);
  font-size: 14px;
  letter-spacing: 0;
  position: relative;
  line-height: normal;
  direction: rtl;
}

.text-wrapper-25 {
  position: relative;
  flex: 1;
  /* font-family: "IRANSansX-Regular", Helvetica; */
  font-weight: 400;
  color: rgba(237, 237, 237, 1);
  font-size: 14px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-26 {
  /* font-family: "IRANSansX-Regular", Helvetica; */
  font-weight: 400;
  color: rgba(237, 237, 237, 1);
  font-size: 14px;
  position: relative;
  line-height: normal;
  direction: rtl;
}

.text-wrapper-27 {
  /* font-family: "IRANSansX-DemiBold", Helvetica; */
  font-weight: 700;
  color: rgba(245, 145, 21, 1);
  font-size: 16px;
  direction: rtl;
}

.text-wrapper-28 {
  /* width: 250px; */
  /* font-family: "IRANSansX-Regular", Helvetica; */
  font-weight: 400;
  color: rgba(237, 237, 237, 1);
  font-size: 14px;
  letter-spacing: 0;
  position: relative;
  line-height: normal;
  direction: rtl;
}

.text-wrapper-29 {
  width: 100%;
  margin-bottom: -11px;
  /* font-family: "IRANSansX-Regular", Helvetica; */
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  letter-spacing: 0;
  position: relative;
  line-height: normal;
  direction: rtl;
}

.arrow-upward-alt-wrapper {
  position: fixed;
  width: 48px;
  height: 48px;
  bottom: 20px;
  right: 20px;
  background-color: #868686;
  border-radius: 24px;
  cursor: pointer;
  z-index: 99;
}

.navigation {
  transition: background-color 0.3s ease;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(223, 223, 223, 1);
  backdrop-filter: blur(20px) brightness(100%);
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  box-shadow: blur(20px);
}

.frame-42 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.frame-43 {
  display: inline-flex;
  align-items: center;
  gap: 40px;
  position: relative;
}

.view-12 {
  position: relative;
  width: 37px;
  height: 24px;
  cursor: pointer;
}

.text-wrapper-30 {
  position: absolute;
  top: -1px;
  left: 0;
  text-align: left;
  color: #404040;
  direction: rtl;
}

.view-13 {
  position: relative;
  width: 70px;
  height: 24px;
  cursor: pointer;
}

.view-14 {
  position: relative;
  width: 52px;
  height: 24px;
  cursor: pointer;
}

.view-15 {
  font-family: "IranSansX";
  align-items: center;
  gap: 4px;
  /* position: relative; */
  color: #404040;
  cursor: pointer;
  display: flex;
}

.text-wrapper-31 {
  width: fit-content;
  margin-top: -1px;
  font-family: var(--header-medium-font-family);
  font-weight: var(--header-medium-font-weight);
  color: #404040;
  font-size: var(--header-medium-font-size);
  text-align: left;
  letter-spacing: var(--header-medium-letter-spacing);
  position: relative;
  line-height: var(--header-medium-line-height);
  direction: rtl;
  font-style: var(--header-medium-font-style);
}

.image-6 {
  position: relative;
  width: 72px;
  height: 72px;
  object-fit: cover;
}
/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  position: relative;
  margin-bottom: 60px;
  border: none;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s;
}
.request-project:hover {
  color: #f59115;
  transition: all 0.2s ease-in-out;
}

.pagination button.active {
  background-color: rgba(245, 145, 21, 0.2);
  border: none;
}
.pagination li {
  list-style: none;
  display: none;
}
.img-2 {
  width: 32px;
  height: 32px;
}
