@font-face {
  font-family: "IranSansX";
  src: url("/assets/font/iransansX\ family/IRANSansX-Light.ttf")
    format("truetype");
}
/* check box style */
.checkbox-custom:checked + .checkmark {
  border: none; /* حذف بوردر زمانی که چک‌باکس تیک می‌خورد */
}

.checkbox-custom-label {
  display: inline-block;
  position: relative;
  /* padding-left: 25px; */
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.checkbox-custom-label .checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.checkmark {
  right: -24px;
}

.checkbox-custom-label .label-text {
  cursor: pointer;
}
.label-text {
  cursor: pointer;
}

.checkbox-custom:checked + .checkmark:after {
  content: "\2713";
  font-size: 20px;
  color: rgba(245, 145, 21, 1);
  top: 2px;
  left: 6px;
}

/* image boxes */
* {
  font-family: "IranSansX";
}
.items-center {
  direction: rtl;
}

.wrapper-blog {
  margin-top: 5rem;
  display: grid;
  grid-gap: 5%;
  grid-template-columns: repeat(3, 29%);
  visibility: visible;
}
.box-blog {
  position: relative;
  text-align: center;
  display: none;
  padding: 20px;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 20px 0px rgba(0, 0, 0, 0.1);
  justify-content: center;
  background-color: rgba(223, 223, 223, 1);
}
.box-blog:nth-child(n + 1):nth-child(-n + 12) {
  display: block; /* عکس‌های اولیه که باید در صفحه اول نمایش داده شوند */
}
.box-blog img {
  width: 100%;
  margin: auto;
}
.intro-blog {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: rgba(223, 223, 223, 1);
  transition: 1s;
  text-align: right;
}

.intro-blog h3 {
  color: black;
  font-size: 14px;
  font-weight: bold;
}
.dateblog {
  color: #404040;
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  margin-top: 15px;
}
.descriptionblog {
  color: #404040;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  margin-top: 10px;
}
.p-Blog {
  color: rgba(64, 64, 64, 1);
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 25px;
}
.p-Blog:hover {
  color: rgba(245, 145, 21, 1);
  transition: 0.5s ease;
}
.div5 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  height: 24px;
  position: relative;
}
.box-blog:hover {
  cursor: pointer;
  transition: 1s;
}
.with-height {
  height: 400px;
  width: 280px;
}
/* end image boxes */

/* services */

.dropdown {
  float: right;
  overflow: hidden;
}
.clicked,
.change-color-text {
  color: #f59115;
  transition: all 0.3s ease;
}
.dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit;
  margin: 0;
  width: 100%;
}
.dropdown-content {
  display: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  background-image: url("/assets/images/aparteman.png");
  background-size: cover;
  left: 0;
  z-index: 1;
  width: 100%;
  margin-top: 430px;
}
.column {
  float: right;
  padding: 10px;
  direction: rtl;
  margin-right: 7%;
  margin-top: 5px;
  display: grid;
}
.column a:hover {
  color: #f59115;
  transition: 0.3s ease;
}
.column a {
  padding-top: 10px;
  text-decoration: none;
  color: #202020;
}
.show {
  display: block;
  width: 100%;
  height: 360px;
}
.image-services {
  display: flex;
  width: 460px;
  height: 200px;
  position: relative;
  left: 112px;
  top: 50px;
  box-shadow: 0px 12px 16px -4px rgba(0, 0, 0, 0.08);
  border: 20px solid rgba(203, 203, 203, 0.3);
}
/* end */
/* footer */
